[core]
  editor = vim -c \"set fenc=utf-8\"
[alias]
  co = checkout
  st = status
[color]
  diff = auto
  status = auto
  branch = auto
  ui = true
[pager]
  log = diff-highlight | less
  show = diff-highlight | less
  diff = diff-highlight | less
